package ${package.Mapper};

#foreach($pkg in ${importMapperFrameworkPackages})
import ${pkg};
#end
#if($importMapperJavaPackages.size()>0)

#foreach($pkg in ${importMapperJavaPackages})
import ${pkg};
#end
#end

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}> {
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {
#end

#foreach($m in ${mapperMethodList})
    /**
     * generate by ${m.indexName}
     *
     #foreach($f in ${m.tableFieldList})
     * @param ${f.propertyName} ${f.comment}
     #end
     */
    ${m.method}
#end
}
